<div class="note rounded border">
  <div class="p-2 d-flex align-items-center border-bottom">
    <app-user-post-card [user]="note().student" [date]="note().date" />
  </div>

  <app-note-files-gallery [note]="note()" />

  <div class="card-body d-flex justify-content-end flex-wrap gap-3 p-2">
    <button class="btn btn-dark-green" (click)="handleDelete()">Delete</button>
    <button class="btn btn-dark-green" (click)="handleShowModal()">
      Comments
    </button>
  </div>
</div>

<app-modal title="Note" width="70dvw" [(isOpen)]="showModal">
  @if (showModal()) {
  <app-note-comments [note]="note()" />
  }
</app-modal>
