img {
  object-fit: cover;
}

.img-container {
  display: flex;
  justify-content: center;
}

.note {
  width: 33dvw;
  animation: fadeIn;
  animation-duration: 1s;
}

@media (max-width: 500px) {
  .note {
    width: 90dvw;
  }
}
