.active {
  background-color: rgba(96, 180, 93, 0.8);
  color: #fff;
}

.active .text-muted {
  color: #fff !important;
}

.card:hover .text-muted {
  color: #fff !important;
}

.card:hover {
  transform: scale(1.01);
  cursor: pointer;
  background-color: rgba(96, 180, 93, 0.8);
  color: #fff;
}
