<header class="p-0">
  <nav
    class="nav d-flex align-items-center bg-white border-bottom row p-0 px-lg-5 mx-0"
  >
    <div class="row mx-0 mb-0">
      <div class="col-lg-6 d-flex align-items-center">
        <!-- Header -->
        <div class="me-auto">
          <h5 routerLink="/" class="text-dark-green mb-0">UNPHU Notes</h5>
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-end">
        <div class="d-flex align-items-center flex-wrap gap-3">
          <!-- Bookmarked notes -->
          <a routerLink="/home">Bookmark</a>
          <!-- User Card -->
          @if (user()) {
          <app-user-card [user]="user()!" />
          }
        </div>
      </div>
    </div>
  </nav>
</header>
