.file {
  height: 25dvh;
  width: 27dvw;
}

img {
  height: 25dvh;
  object-fit: contain;
}

.icon {
  font-size: 5rem;
}

@media (max-width: 500px) {
  .file {
    width: 100%;
    height: auto;
  }

  img {
    height: 20dvh;
  }
}
