.arrow:hover {
  cursor: pointer;
}

.note-list {
  height: 85dvh;
  overflow-y: auto;
}

app-create-note-button {
  position: fixed;
  width: 10rem;
  right: 0;
  bottom: 1.5rem;
}

.weeks {
  width: auto;
}

@media (max-width: 500px) {
  app-create-note-button {
    display: none;
  }
}