<div class="row position-relative mx-0">
  <!-- Header -->
  <div class="mx-auto d-flex align-items-center p-3 rounded">
    <!-- Group's subject's name -->
    <h5 class="mb-0">{{ group()?.name }}</h5>
    <!-- Week selector -->
    <div class="d-flex align-items-center justify-content-center ms-auto">
      <span class="arrow material-symbols-outlined" (click)="changeWeekBy(-1)">
        arrow_back
      </span>
      <h5 class="text-muted mb-0 mx-3">Semana {{ week() }}</h5>
      <span class="arrow material-symbols-outlined" (click)="changeWeekBy(1)">
        arrow_forward
      </span>
    </div>
  </div>

  <!-- Notes -->
  <div class="d-flex flex-column p-3 note-list">
    @for (note of weekNotes(); track note.id) {
    <div class="mx-auto mb-3 shadow-sm">
      <app-note-card [note]="note" (onDelete)="handleOnDelete($event)" />
    </div>
    } @empty {
    <h1>No hay notas</h1>
    }
  </div>

  <!-- Create note button -->
  <app-create-note-button
    [week]="week()"
    class="app-create-btn"
    (onSubmit)="handleAddNote($event)"
    [groupId]="groupId() || 0"
  />
</div>
