<div class="row position-relative mx-0">
  <!-- Week selector -->
  <div
    class="weeks mx-auto d-flex align-items-center bg-white p-3 border rounded shadow-sm"
  >
    <span class="arrow material-symbols-outlined" (click)="changeWeekBy(-1)">
      arrow_back
    </span>
    <h5 class="text-muted mb-0 mx-3">Semana {{ week() }}</h5>
    <span class="arrow material-symbols-outlined" (click)="changeWeekBy(1)">
      arrow_forward
    </span>
  </div>
  <!-- Notes -->
  <div class="d-flex flex-column p-3 note-list">
    @for (note of notes(); track note.id) {
    <div class="mx-auto mb-3 shadow-sm">
      <app-note-card [note]="note" (onDelete)="handleOnDelete($event)" />
    </div>
    }
  </div>
  <app-create-note-button
    [week]="week()"
    class="app-create-btn"
    (onSubmit)="handleAddNote($event)"
    [groupId]="groupId() || 0"
  />
</div>
