.modal-overlay {
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 999;
}

.custom-modal {
  max-height: 95dvh;
  z-index: 1000;
}
